@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

@tailwind base;




@layer base {
  body {
    @apply bg-zinc-950 text-neutral-200;
    font-family: Poppins;
  }
}


.nav{
  width: 95%;
  margin: 2em auto 0 auto;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.my{
  font-size: 2rem;
  
}

.hometext{
  background: -webkit-linear-gradient(#bfa3da, #84309c, #c735b0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
    /* border: 1px solid white; */
    width: 95%;
    margin: 0 auto;
}

.card-container{
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-between;
  width: 89%;
  margin: 2em auto 0 auto;
  flex-wrap: wrap;
  flex-grow: 1;
  max-width: 1700px;
}

.home {
  margin-top: 3em;
}

.card{
  background-color: #131313;
  padding: 1.5em;
  margin-bottom: 2em;
  border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 460px;
    overflow: none;
    border: none;
  
    transition: all 0.2s ease-in-out;
    height: 400px;
}

.card:hover,
.card:focus,
.card:active {
  background-color: #272c34;
  opacity: 80%;
  transform: translateY(-5px);
}

.image{
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.media{
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* border: 1px solid red; */  
  border: none;
}

.deets{
  margin-top: 1em;
}
.deets h1{
  background: -webkit-linear-gradient(#bfa3da, #84309c, #c735b0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    text-transform: uppercase;
}

.hero{
  /* border: 1px solid white; */
  display: flex;
  width: 80%;
  margin: 3em auto 0 auto;
  border-radius: 10px;
  background-color: #131313;
  overflow: hidden;
  align-items: center;
  gap: 30px;
  max-width: 1300px;
  
}

.heroimage{
  width: 90%;
  /* border: 1px solid red; */

}

.heroimage img{
  width: 100%;
}
.hero-deets{}
.hero-deets h1{
  background: -webkit-linear-gradient(#a79af9, #7aa8d2);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 1.5rem;
}

.stats{
  width: 80%;
  margin: 2em auto 0 auto;
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 5em;
}

.box{
  height: 250px;
  width: 30%;
  /* border: 1px solid red; */
  padding-left: 2em;
  padding-top: 2em;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #131313;
  border-radius: 10px;
  align-items: flex-start;
}
.box p{
  margin-top: 0.8em;
}
.burn-btn{
  display: block !important;
  margin-top: 1em !important;
}

.stake-btn button{
  padding: 1rem;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    margin-right: 10px;
    background-color: white;
    color: black;
}

.stake-btn{
  margin-top: 1em;
}

.loading{
    height: 80vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4rem;
    
}

.mynfts{
  
  width: 80%;
  margin: 2em auto 1em auto;
  display: flex;
  gap: 20px;

}
.claim-btn{
  margin-top: 1em !important;
}



.nft-card{
  

  width: fit-content;
  background-color: #131313;
}
.nft-card h2{
  background: -webkit-linear-gradient(#bfa3da, #84309c, #c735b0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3rem;
    padding: 1em 0 1em 1em;
}

.nft-title{
  width: 80%;
  margin: 0 auto;
  font-size: 2rem;
}

.stake-nft{
  width: 100%;
  padding: 1rem;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: white;
    color: black;

}
.erc1155 .stake-nft{
  cursor: not-allowed;
}

.claim-1155{
  margin-top: 1em !important;
}

.tipinput{
  display: flex;
  margin-top: 1em;
}
.tipinput button{
  padding: unset !important;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-radius: 0;
  border-right: 0.3px solid #131313;
}

.tipinput input{
  width: 60px;
  color: #fff;
  outline: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: gray;
  cursor: default;
  
}

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      
    }

    .withdraw button{
      margin-top: 1.3em;
    }
    .withdraw p {
      margin-top: 1.2em;
    }

    .stake-div, .staked-div{
      height: auto;
      /* border: 1px solid red; */
      padding: 0 1em;
    }

    .staked{
      /* border: 1px solid white; */
      width: 100% !important;
      border-bottom: 1px solid white;
      padding-bottom: 1em;
    }
    .staked button{
      width: 100%;
    }

@media screen and (max-width: 1400px) {
  .card{
    min-width: 500px;
  }
  .card-container{
    width: 84%;
    
  }
}
@media screen and (max-width: 1000px){
  .card-container{
    width: 96%;
    flex-wrap: wrap;
      flex-grow: 1;
      
      margin-top: 2em;
  }
  .card{
    max-width: 360px;
    height: 400px;
    min-width: 350px;
  }
    .image {
  
      width: 100%;
    }

    .home{
      margin-top: 3em;
    }

    .hometext{
      font-size: 1.5rem;
    }
}

@media screen and (max-width: 760px) {
  .hero{
    flex-wrap: wrap;
    width: 97%;
  }

  .loading{
    font-size: 1.5rem;
  }

    .card-container {
      
      justify-content: center;
      width: 98% !important;
      margin: 1em auto 0 auto;
      flex-wrap: wrap;
      flex-grow: 1;
    }
    .card{
      max-width: 400px !important;
      min-width: 290px;
    }

        .image {

          width: 100%;
        }
        .heroimage{
          width: 100%;
        }

        .stats{
          flex-wrap: wrap;
          
          width: 98%;
          flex-direction: column;
          gap: 10px;

        }
        .box{
          width: 100%;
        }

        .mynfts{
          flex-direction: column;
          width: 90%;
          /* border: 1px solid red; */
        }

        .nft-card{
          width: 100%;
        }
        .nft-img-con{
          width: 100%;
          
        }
        .nft-img-con img{
          
          width: 100% !important;
          object-fit: cover !important;
        }
        .stake-btn{
          /* border: 1px solid red; */
          width: 85%;
          display: flex;
          justify-content: space-between;
          margin: 1em auto 0 auto;
          margin-top: 1.5em;
          
        }

        .stake-btn button{
          margin-right: 0;
        }

        .two-btn{
          padding-left: 0;
        }

        .two-btn h2, .two-btn p{
          margin-left: 2em;
        }
}